*{
    margin: 0;
}
.background{
    background-color: rgb(26, 245, 253);
}
.btn:hover{
    background-color: rgb(113, 171, 173);
}
.card:hover{
    background-color: rgb(230, 233, 233);
}
.card-title{
    height: 100px;
}
.card-text{
    height: 180px;
}
.card-source{
    background-color: bisque;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}